<div class="container mt-3">
  <h2>Customers</h2>
  <div class="row">
    <app-search (searchTerms)="addTerms($event)"></app-search>
    <a class="nav-link" routerLink="/create-customer">Create customer</a>
  </div>
  <h5 class="mt-4">Sort customers</h5>
  <table class="table">
    <app-customers-sort
      class="sort-header"
      (clickBtn)="orderBy($event)"
    ></app-customers-sort>
    <tbody>
      <tr
        *ngFor="
          let customer of list1
            | filter: props:filter
            | sort: sortBy:reverse">
        <td>{{ customer.id }}</td>
        <td>{{ asCustomer(customer).title }}</td>
        <td>{{ asCustomer(customer).firstName }}</td>
        <td>{{ asCustomer(customer).lastName }}</td>
        <td>{{ asCustomer(customer).type }}</td>
      </tr>
    </tbody>
  </table>
</div>
