<div class="container mt-3">
  <h2>Customers</h2>
  <h5 class="mt-4">Search customer</h5>
  <app-search (searchTerms)="addTerms($event)"></app-search>
  <h5 class="mt-4">Create customer</h5>
  <app-customers-create></app-customers-create>
  <h5 class="mt-4">Sort customers</h5>
  <table class="table">
    <app-customers-sort class="sort-header" (clickBtn)="orderBy($event)"></app-customers-sort>
    <tbody>
      <tr
        *ngFor="
          let customer of list1
            | customerFilter: filter
            | customerSort: sortBy:reverse
        "
      >
        <td>{{ customer.id }}</td>
        <td>{{ customer.title }}</td>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.type }}</td>
      </tr>
    </tbody>
  </table>
</div>
