<!-- <div class="form-group">
  <label for="exampleFormControlSelect1">Order by</label>
  <select class="form-control" id="exampleFormControlSelect1" [ngModel]="variable" (ngModelChange)="variableChange($event)">
    <option value="--Please choose an option--" selected >--Please choose an option--</option>
    <option value="id">ID</option>
    <option value="title">Title</option>
    <option value="firstName">First name</option>
    <option value="lastName">Last name</option>
    <option value="type">Category</option>
  </select>
</div> -->
