<div class="container mt-3">
  <h2>Activities</h2>
  <div class="row">
    <app-search (searchTerms)="addTerms($event)"></app-search>
    <a class="nav-link" routerLink="/create-activity">Create new activity</a>
  </div>
  <h5 class="mt-4">Sort customers</h5>
  <table class="table">
    <app-activities-sort
      class="sort-header"
      (clickBtn)="orderBy($event)"
    ></app-activities-sort>
    <tbody>
      <tr
        *ngFor="
          let activity of list2
            | sort: sortBy:reverse
            | filter: props:filter
        "
      >
        <td>{{ activity.id }}</td>
        <td>{{ activity.name }}</td>
        <td>{{ activity.category }}</td>
      </tr>
    </tbody>
  </table>
</div>
