<thead>
  <tr>
    <th scope="col">
      <button
        [appTooltip]="'Sort by Id'"
        type="button"
        class="btn btn-secondary"
        (click)="variableChange('id')"
      >
        Id
      </button>
    </th>
    <th scope="col">
      <button
        [appTooltip]="'Sort by name'"
        type="button"
        class="btn btn-secondary"
        (click)="variableChange('name')"
      >
        Name
      </button>
    </th>
    <th scope="col">
      <button
        [appTooltip]="'Sort by category'"
        type="button"
        class="btn btn-secondary"
        (click)="variableChange('category')"
      >
        Category
      </button>
    </th>
  </tr>
</thead>
