<thead>
  <tr>
    <th scope="col">
      <button
        [appTooltip]="'Sort by Id'"
        type="button"
        class="btn btn-secondary"
        (click)="variableChange('id')"
      >
        Id
      </button>
    </th>
    <th scope="col">
      <button
        [appTooltip]="'Sort by title'"
        type="button"
        class="btn btn-secondary"
        (click)="variableChange('title')"
      >
        Title
      </button>
    </th>
    <th scope="col">
      <button
        [appTooltip]="'Sort by first name'"
        type="button"
        class="btn btn-secondary"
        (click)="variableChange('firstName')"
      >
        First Name
      </button>
    </th>
    <th scope="col">
      <button
        [appTooltip]="'Sort by last name'"
        type="button"
        class="btn btn-secondary"
        (click)="variableChange('lastName')"
      >
        Last Name
      </button>
    </th>
    <th scope="col">
      <button
        [appTooltip]="'Sort by type'"
        type="button"
        class="btn btn-secondary"
        (click)="variableChange('type')"
      >
        Category
      </button>
    </th>
  </tr>
</thead>
